#flags {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto; /* 右对齐 */
    color: var(--text-secondary);
}

/* 输入 */
#flags > input {
    accent-color: var(--accent);
    cursor: pointer;
}

#editor-panel > section {
    display: flex;
    flex-direction: column;
    min-height: 0; /* 允许收缩 */
}

#test-section {
    flex: 1;
}