/* 收藏侧边栏 */
#saved-sidebar {
    position: relative;
    transition: width 0.2s ease, padding 0.2s ease;
    overflow: hidden;
    background-color: var(--bg-panel-darker);
}

#saved-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 0;
    overflow: hidden;
}

#saved-sidebar.collapsed {
    width: 35px;
    padding: 0;
}

/* 折叠的时候不可见 */
#saved-sidebar.collapsed #saved-section {
    display: none; 
}

/* 折叠按钮 */
#toggle-btn { 
    position: absolute;
    width: 35px;
    height: 35px;
    top: 4px;
    right: 0;
    cursor: pointer;
    z-index: 10;
}

/* 标题 */
#heading-common,
#heading-saved {
    margin: 8px 0;
    cursor: pointer;
    user-select: none;  /* 不允许选中 */
    
}
/* 折叠隐藏 */
#saved-section .collapsible {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 0;
    /* 折叠动画 */
    overflow: hidden;
    max-height: 1000px;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

#saved-section .collapsible:first-child {
    flex: 0 1 auto;
    max-height: 40%;
}

#saved-section .collapsible:last-child {
    flex: 1 1 0;
}

/* 折叠态 */
#saved-section .collapsible.collapsed {
    max-height: 40px;
}

/* 卡片 */
#common-list,
#saved-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 0;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--text-secondary) var(--bg-panel-darker);
}

.common-card,
.saved-card {
    width: 96%;
    margin: 4px 0;
    padding: 0 4px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.15s ease;
}

.common-card:hover,
.saved-card:hover {
    background-color: var(--card-hover);
}

.common-card > div,
.saved-card > div {
    display: flex;
    align-items: center;
}

.common-card > div {
    justify-content: space-between;
}

.saved-card > div {
    display: flex;
    gap: 4px;
}

.common-card h4 {
    margin: 2px 0 4px 0;
}

.saved-card h4,
.card-name-input {
    flex: 1 1 0;
    min-width: 0;   /* 覆盖 min-width: auto */
    font-size: 1rem;
    font-family: inherit;
    font-weight: bold;
    margin: 0;
    padding: 2px 0 4px 0;
}

.common-card code,
.saved-card code {
    display: -webkit-box; /* 新盒子 */
    font-size: 0.8rem;
    /* 调整隐藏 */
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all; /* 防止超长单词溢出 */
    -webkit-box-orient: vertical; 
    -webkit-line-clamp: 2;
    line-clamp: 2; 
}

/* 收藏按钮 */
#save-btn {
    display: block;
    width: 96%;
    height: 40px;
    border: 2px solid var(--bg-secondary);
    border-radius: 8px;
}

#save-btn.error {
    outline: 1.5px solid var(--error);
    box-shadow: 0 0 12px 1px var(--bg-error);
    color: var(--error);
}

/* 编辑模式 */

.card-name-input { /* 编辑标题 */
    flex: 1 1 0;
    border: none;
    border-radius: 4px;
    background-color: transparent;
    color: var(--text-primary);
    box-shadow: 0 0 0 0 transparent;
    transition: box-shadow 0.1s ease;
    cursor: default;
}

#workspace.edit-mode .card-name-input {
    background-color: var(--bg-secondary);
}

#workspace.edit-mode .card-name-input:hover,
#workspace.edit-mode .card-name-input:focus {
    box-shadow: 0 0 0 2px var(--bg-tertiary);
    outline: none;
    cursor: text; 
}

/* 选中高亮 */
.saved-card.editing {
    background-color: var(--card-hover);
}

.btn-delete {
    padding: 2px;
}